# OS
.DS_Store

# Python
venv
.venv
__pycache__

# Rust
target
users.db

# Machine Learning Datasets
cifar-10-batches-py
cifar-10-python.tar.gz

# Machine Learning Lab Transformer
Machine-Learning/lab-3-transformer/model
Machine-Learning/lab-3-transformer/transformer_seq2seq.pt
