# OS
.DS_Store

# Python
venv
.venv
__pycache__

# Rust
target
users.db

# Machine Learning Datasets
cifar-10-batches-py
cifar-10-python.tar.gz

# Machine Learning Lab Transformer
Machine-Learning/lab-3-transformer/model
Machine-Learning/lab-3-transformer/transformer_seq2seq.pt

# Compiler lab
Compiler/compiler_lab_prompt.txt
Compiler/lab-7/webui/out.quads
Compiler/lab-7/webui/out.s
Compiler/lab-7/webui/bin/icg

# Database System
# Java class
Database-System/JDBC/**/*.class
# Generated names
Database-System/JDBC/generate-data/sql_out

# Computer Vision
# DATASET
Computer-Vision/z-final-project/DATASET/appa-real-release
